{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        nav-aa {
            position: absolute;

            bottom: 0px;
            left: 400px;
            top: 670px;
            }
    </style>
    
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Shop{% endblock %}</title>

<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static 'css/bootcamp.css' %}?v=1" rel="stylesheet">
 
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{% static 'js/bootcamp.js' %}"></script>
<link href="{% static 'css/notifications.css' %}" rel="stylesheet">
<script src="{% static 'js/notifications.js' %}"></script>


{% block head %}{% endblock %}
  </head>

  <body>
    {% block body %}
      <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              {% if user.profile.age is None %}
              <a class="navbar-brand" href="{% url 'boutique:filtrer' %}">Shop</a>
              {% else %}
              <a class="navbar-brand" href="{% url 'boutique:filtrer_age' %}">Shop</a>
              {% endif %}
            </div>

                      <!-- Items of NavBar -->

            <div class="collapse navbar-collapse" id="topNavBar">
              <ul class="nav navbar-nav">
                <li class="{% block produits_active %}{% endblock %}">

                {% if user.profile.age is None %}
                <a href="{% url 'boutique:filtrer' %}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;All Products</a></li>
                {% else %}
                <a href="{% url 'boutique:filtrer_age' %}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;All Products</a></li>
                {% endif %}

                <li class="{% block shops_active %}{% endblock %}"><a href="{% url 'boutique:index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; My Shop</a></li>
                <li class="{% block products_active %}{% endblock %}"><a href="{% url 'boutique:products' 'all' %}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;My Products</a></li>
                <li>
                  <a href="#" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Notifications">
                  <span class="glyphicon glyphicon-bell"></span>
                  </a></li>
              </ul>

         
              <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'home_user' %}"><span class="glyphicon glyphicon-th"> Home</a></li>
                <li>
                  <a href="{% url 'profile' user.username %}"><span class="glyphicon glyphicon-user"></span>  {{ user.profile.get_screen_name }}</a>
                </li>
                <li>
                  <a href="{% url 'inbox' %}"><span class="badge pull-right" id="unread-count">0</span> Inbox</a>
                </li>
                <li>
                  <a href="{% url 'settings' %}"><span class="glyphicon glyphicon-cog"></span>{% trans 'Account Settings' %}</a>
                </li>    
                <li>
                  <a href="{% url 'boutique:logout_user' %}">
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout</a>
                </li>
              </ul>
                               
            </div>
          </div>
        </nav>
      </header>

    <main>
      <div class="container">
        {% block main %}
        {% endblock main %}
      </div>
    </main>

    
    <script src="{% static 'js/check_messages.js' %}"></script>
    
    {% endblock body %}

   <script src="{% static 'js/ga.js' %}"></script>
  </body>
</html>
