{% extends 'boutique/base.html' %}
{% block title %}Add a New Wishlist{% endblock %}
{% block shops_active %}active{% endblock %}

{% block body %}
<br><br><br><br>
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>wishlists of {{ user.username }}</h3>
            		{% for wishlist in wishlists %}
                    {{wishlist.name}}
                    {% endfor %}
              
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}