<style type="text/css"> 
.my_post{
overflow-y: scroll;
max-height: 200px;}
.picture {
width: 30px;
border-radius: 5px;
float: left;
}

</style>

{% extends 'boutique/base.html' %}
{% block title %}Add a New Comment{% endblock %}
 {% load staticfiles %}


{% load i18n %}
{% load humanize %}
{% block head %}
  <link href="{% static 'css/post.css' %}" rel="stylesheet">
{% endblock head %}
{% block body %}
<br><br><br><br>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                <br>
                    <img src="{{ post.user.profile.get_picture }}" height="35px" width="35px">
                    <h3 style="display:inline-block"><B>{{ post.user.profile.get_screen_name }}</B></h3>
                    <h4>{{post.user_post}}</h4><br>
                    <center><img src="{{post.picture_attached.url}}" height="200px" width="200px"></center>
                    
                    <img src="{{post.category.picture.url}}" height="35px" width="35px" >
                    <B>{{post.category.label}}</B><br><br>
                    <small>{{ post.date|naturaltime }}</small>
        <div>
          
        </div>
       
    
                </div>

            </div>
    </div>
        <div class=" col-sm-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Comment</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" id="send_comment" role="form" data-post-id="{{post.id}}" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}


                          {{form.user_comment}}
                      
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button data-id="{{ post.id }}" data-reaction="comment" class="reaction-post comment" >Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        
            
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="post">
                        
    
                    <ul class="all-posts" >
                      <div class="my_post">

                        
  
                        {% include 'posts/discover_comment.html' with comments=post.comments.all %}
                         
                        <script>
                      $('.my_post').scrollBottom($('.my_post')[0].scrollHeight);
                      </script>

                      </div>
                      </ul>
        


                    </div> 
                </div>
            </div>
        </div>
    </div>                   
</div>

      
<script src="{% static 'reaction/js/reactions_post.js' %}"></script>

{% endblock %}
