{% extends 'boutique/base.html' %}
{% block title %}Add a New Post{% endblock %}
 {% load staticfiles %}

{% block body %}
<br><br><br><br><br><br>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-offset-4 col-sm-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center><h3><font face="Arial Black, Gadget, sans-serif" size="6px" color="#4B088A">Add a New Post</font></h3></center>
                 <br>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" id="send_post" role="form" action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'posts/form_template.html' %}
                        <br>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

       
    </div>                   
</div>

      


{% endblock %}
