<style>
li.commentaire .picture {
  width: 40px;
  border-radius: 5px;
  float: left;
}
</style>

{% load i18n %}

{% for comment in comments %}
      <li class="commentaire" >
     <img src="{{ user.profile.get_picture }}" class="picture">
      <B>{{comment.user}}</B>
        <div class="panel-body">
        {{comment.user_comment}}<br>
       

       
        </div>
        <small>{{ comment.date }}</small>
        <div>
          
        </div>
       
      </li>
    {% empty %}
      <li>{% trans 'You have no post' %}</li>
    {% endfor %}
