<style>
    .picture {
      width: 20px;
      border-radius: 5px;
      float: left;
    }

</style>
{% extends 'boutique/base.html' %}
{% block posts_active %}active{% endblock %}

{% load staticfiles %}


{% block body %}
<body>
<br><br><br><br>
<div class="shops-container container-fluid">

    
        <div class="row"> 

                        <!-- ******* left ******* -->
                  
            <div class="col-sm-4 col-md-3" style="position:fixed">
            <div class="panel panel-default">
                <div class="panel-body">

                <div class="center-block">
                    {% if header1 %} <h4>    {{ header1 }}</h4> {% endif%}
                   
                </div>

                    <form class="navbar-form navbar-left" role="search" method="get" action="{{ request.path}}" >
                    {% for key, value in request.GET.items %}
                          {% if key != 'page' and key != 'search' %}
                          <div class="u-form-group">
                            <input type="hidden" name="{{key}}" value="{{value}}" />
                          </div>
                           {% endif %}
                    {% endfor %}


                    <!-- <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div> -->
                    </form>
                

                            <!-- Gategories -->
                    <font face="Brush Script Std, Brush Script MT, cursive" size="6px" color="black">Post categories</font>
                    <div class="list-group, center-block">
                     {% for category, value in counter %}
                    <a href="{% url 'filtrer_posts' category.label %}?{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="list-group-item list-group-item-info"><img src="{{category.picture.url}}" style="width: 50px; float: left; margin-right: 20px; height:25px" > {{ category.label  }}<span class="badge">{{value}}</span></a>{% endfor %}</div></br>
 


                    <!-- <div class="center-block">
                        <ul>
                    {% for category, value in counter %}
                      <li><a href="{% url 'boutique:filtrer' category.label %}?{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ category.label  }} <span class="badge">{{value}}</span>

                      </a></li>
                    {% endfor %}
                        </ul></div></br> -->




                        

                   
                    
                       

                       
            </div>
        </div>
    </div>


    {% if posts %}


                       <!-- ****** Right : Posts ******* -->
               
        <div class="col-md-offset-4 col-sm-8 col-md-6">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
            </ul>

            <div class="panel panel-default">
            <div class="panel-body">

                <center><h3><font color="#800040" face="Brush Script Std, Brush Script MT, cursive" size="200px" color="black">All Posts</font></h3></center><br><br>

                {% for post in posts %}

                   
                        <div class="col-sm-8 col-lg-12">
                            <div class="thumbnail">
                            <div class="caption">
                                <img src="{{ post.user.profile.get_picture }}" class="picture">

                                <a href="{% url 'user_posts' post.user %}"> <B> {{ post.user.profile.get_screen_name }} : posts</B></a><br><br>
                           
                                {% if post.picture_attached %}
                                    <img src="{{ post.picture_attached.url }}" class="img-responsive" style="width: 300px; float: left; margin-right: 300px; height:200px" />
                                {% else %}
                                    <img src="{{ post.category.picture.url }}" class="img-responsive" style="width: 300px; float: left; margin-right: 300px; height:200px" />
                                {% endif %}
                           
                                <h2>{{ post.user_post}}</h2>
                                
                                <img src="{{ post.category.picture.url }}" class="img-responsive" style="width: 20px; height: 20px; float: left; margin-right: 10px;" />
                                
                                <B>{{ post.category.label }}</B>
                                
                                <br><br>


                             <!-- Reactions: 'like' and 'dislike' -->

                                        <!-- LIKE -->
                                <div class="col-md-1">
                                    <button data-id="{{ post.id }}" data-reaction="like" class="reaction-post like" data-toggle="tooltip" title="like">
                                     <span class="glyphicon glyphicon-thumbs-up"></span>
                                      <!-- <img src="{% static 'reaction/images/like.png' %}" alt="" width="25" height="25" data-toggle="tooltip" title="like" data-reaction="like"> --> 
                                    </button>
                                </div>    
                                <span class="col-md-1" id="likes"></span>


                                         <!--  DISLIKE -->
                                <div class="col-md-1">
                                    <button data-id="{{ post.id }}" data-reaction="dislike" class="reaction-post dislike" data-toggle="tooltip" title="dislike">
                                    <span class="glyphicon glyphicon-thumbs-down"></span>

                                      <!-- <img src="{% static 'reaction/images/dislike.jpg' %}" alt="" width="28" height="25" data-toggle="tooltip" title="dislike" data-id="{{ post.id }}"> -->

                                    </button>
                                    
                                </div>
                                <span class="col-md-1" id="dislikes" ></span>
                                 
                                <br><br>
                               
                                
                                                <!-- COMMENT -->
                                
                                <div class="col-md-1" style="display:inline-block">
                                    <button><a href="{% url 'commenter' post.id%}"><span class="glyphicon glyphicon-comment"></span> </a>
                                    </button>
                                    <br>
                                </div> 
                                 <span class="col-md-1" id="comments" ></span>
                                 
                                <br>  
                           

      
                                <!-- <div display= inline-block>
                                <a href="#"><span class="badge" id="unread-count">0</span>LIKE</a>
                                <a href="#"><span class="badge" id="unread-count">0</span>wish</a>
                                <a href="#"><span class="badge" id="unread-count">0</span>share</a>
                                </div>  -->
                                          <!--   <li><a href="{% url 'inbox' %}"><span class="badge pull-right" id="unread-count">0</span> Inbox</a></li> -->
                               

                            
                            </div>
                            </div>
                        </div>
                
            
        
                {% endfor %}
 
    {% else %}
        <br><br><br><br>
               
        <div class="col-md-offset-3 col-sm-8 col-md-9">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
               
            </ul>

            

                    <center><FONT color="red"; size=5>There isn't any post in this category!<br>
                    <br>
                    <img src={% static 'boutique/images/sad.gif' %}>

                    </FONT></center>

                

                    

        </div>

    </div>
</div>
    {% endif %}


                <!-- Pagination -->




<script src="{% static 'reaction/js/reactions_post.js' %}"></script>

{% endblock %}

