{%load static%}
	    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}"/> -->

<div class="form-group">

    <div class="row">
        <div class="col-md-6 ">
        		<div class="row">
					<label class=" control-label col-sm-2" style="position : relative ">{{ form.category.label_tag}}</label>
						{%for value,text in form.category.field.choices%}
						<br>
        			<div class="col-md-2" style="position : relative ">
						{%if text != '---------' %}
                            <label for="{{ value }}" class=" img-responsive btn-radio img-radio">
                                <img src="{{text}}" class="btn-radio" style="height:30px; width:30px;" >
                            </label>

						
        				<input type="radio" name="category" id="{{ value }}" value="{{ value }}" class="hidden">
						{%endif%}
        			</div>
        				{%endfor%}

        		</div>
        </div>
	<div class="col-sm-offset-2 col-sm-10">
			<span class="text-danger small">{{ form.errors }}</span>
	</div>
	<label class=" control-label col-sm-2" style="position : relative; top : 60px;">{{ form.post.label_tag}}</label>


	</div>
	    <label class="label">Post : </label>
		<textarea rows="6" cols="50" name="{{ form.user_post.name }}" class="post"></textarea>
		<label class="control-label  col-sm-2" style="position : relative;">{{ form.picture_attached.label_tag}}</label>

	<div class="image">
		{{form.picture_attached}}
		</div>

</div>

<script>

    $('.btn-radio').click(function(e) {
        $('.btn-radio').not(this).removeClass('active')
    		.siblings('input').prop('checked',false)
            .siblings('.img-radio').css('opacity','0.6');
    	$(this).addClass('active')
            .siblings('input').prop('checked',true)
    		.siblings('.img-radio').css('opacity','1');
    });

</script>