{%load static%}
	    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}"/> -->

        <div class="col-md-8 ">
        		
			{%for value,text in form.category.field.choices%}
					
        	    <div class="col-xs-3" style="position: relative; left: 20px; ">
				{%if text != '---------' %}
                    <label for="{{ value }}" class=" img-responsive btn-radio img-radio">
                        <img src="{{text}}" class="btn-radio" style="height:50px; width:50px;" >
                    </label>

    						
            		<input type="radio" name="category" id="{{ value }}" value="{{ value }}" class="hidden">
				{%endif%}
        		</div>
        	{%endfor%}

        </div>

	    <div class="col-sm-offset-2 col-sm-4">
			<span class="text-danger small">{{ form.errors }}</span>
	    </div>

        
		<textarea rows="6" cols="50" name="{{ form.user_post.name }}" class="post"></textarea>
		

	   <div class="image">
		{{form.picture_attached}}
	   </div>



<script>

    $('.btn-radio').click(function(e) {
        $('.btn-radio').not(this).removeClass('active')
    		.siblings('input').prop('checked',false)
            .siblings('.img-radio').css('opacity','0.3');
    	$(this).addClass('active')
            .siblings('input').prop('checked',true)
    		.siblings('.img-radio').css('opacity','1');
    });

</script>